
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-results/

# Env
.env
.env.*

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
